body {
    padding-top: 5rem;
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0);
    background-image: linear-gradient(147deg, #ffffff 76%, #feda77 80%, #f58529 85%, #dd2a7b 90%, #8134d4 96%, #515bd4 100%);
    min-height: 700px; /*consider effectiveness*/
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-bottom: 2em;    
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

.form {
    max-width: 400px;
    padding: 1.5em;
    background-color: rgba(254,218,119,0.2);
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome {
    padding: 0;
}

h4, label {
    font-weight: bold;
}

.logo {
    font-family: 'Lobster', cursive;
}

ul {
    list-style: none;
}

#delim {
    width: 100%;
    height: 1px;
    margin-bottom: 0.5em;
    background-color: gray;
}

.greeting-card {
    width: 20em;
    height: 15em;
}

.img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiny {
    width: 1.5em;
    height: 1.5em;
}

.jumbo {
    width: 80%;
}

.btn-primary {
    background-color: #dd2a7b;
    border: #dd2a7b;
}

.btn-secondary {
    background-color: #8134d4;
    border: #8134d4;
}